<br>
<div class="row">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6
        col-xs-offset-2 col-xs-8">
        <form action="/charts" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="date"
              placeholder=<%= "#{ (Date.today - 3.days).strftime('%Y%m%d') }" %>>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Graph New Date</button>
            </span>
          </div>
        </form>
      </div>
    </div>
<br>
<% @chart_display.each do |chart_data| %>
  <div class="col-md-6">
  <div id="<%= chart_data[:section] %>" style="min-width: 500px; height: 400px; margin: 20">
  </div>
  <%= javascript_tag "weatherDisplay(#{ chart_data.to_json })" %>
  <br><br>
  </div>
<% end %>
<div class="row">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6
        col-xs-offset-2 col-xs-8">
        <form action="/charts" method="get">
          <div class="input-group">
            <input type="text" class="form-control" name="date"
              placeholder=<%= "#{ (Date.today - 3.days).strftime('%Y%m%d') }" %>>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Graph New Date</button>
            </span>
          </div>
        </form>
      </div>
    </div>
<br>
