<br>
<form action="/charts" method="get">
    <input name="date" />
    <input type="submit" value="Submit New Date"/>
</form>
<br>
<% @chart_display.each do |chart_data| %>
  <div class="col-md-6">
  <div id="<%= chart_data[:section] %>" style="min-width: 500px; height: 400px; margin: 20">
  </div>
  <%= javascript_tag "weatherDisplay(#{ chart_data.to_json })" %>
  <br><br>
  </div>
<% end %>
<form action="/charts" method="get">
    <input name="date" />
    <input type="submit" value="Submit New Date"/>
</form>
<br>
