table {
  width: 80%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 7px;
  text-align: left;
}
table tr:nth-child(even) {
  background-color: #eeeeee;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table th {
  background-color: #3c3c3c;
  color: white;
}